div#header {
  position:fixed;
  top:0px;
  left: 0px;
  width : 100%;
  color : white;
  padding: 25px;
  background : #333;
}

div#footer {
  position:fixed;
  bottom:0px;
  left: 0px;
  width : 100%;
  color : white;
  padding: 25px;
  background : #333;
}

div#content{
  margin-top:125px;
  //margin-left: auto 0;
  //margin-right: auto 0;
  border-width: 2px;
  border-style:solid;
  padding: 10px;
  background: grey;
  color: white;
  width: 15%;
}

div#contentreg{
  margin-top:125px;
  //margin-left: auto 0;
  //margin-right: auto 0;
  padding: 10px;
  background: white;
  color: black;
  width: 15%;
}