div#header {
  position:fixed;
  top:0px;
  left: 0px;
  width : 100%;
  color : white;
  padding: 25px;
  background : #333;
}

div#footer {
  position:fixed;
  bottom:0px;
  left: 0px;
  width : 100%;
  color : white;
  padding: 25px;
  background : #333;
}

div#content{
  margin-top:125px;
  border-width: 2px;
  border-style:solid;
  padding: 10px;
  background: grey;
  color: white;
  width: 15%;
}

div#contentreg{
  margin-top:125px;
  padding: 10px;
  background: white;
  color: black;
  width: 15%;
}

div.tickbox{
  border-width: 2px;
  border-style:solid;
  padding: 30px;
  color: black;
  width: 35%;
  position:fixed;
  left:30%;
}

span.amount{
  float: right;
}

div#portholder{
  margin-top:125px;
}

div#lookup{
  float:right;
}